body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h1{
    font-size: 60px;
    text-align: center;
    color:rgb(219, 101, 137);
    text-shadow: 4px 4px 3px rgba(158, 117, 141, 0.63) ;
}
h2 span:first-child,
h2 span:nth-child(4){
  color: rgb(82, 115, 223);  
}
h2 span:nth-child(2),
h2 span:last-child{
  color: rgb(228, 52, 52);  
}
h2 span:nth-child(3){
    color: rgb(240, 191, 29);
}
h2 span:nth-last-child(2){
    color: rgb(11, 122, 29);
}
p, li{
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 1px;
}


a:hover{
    color: rgb(219, 101, 137);
}
input[type="text"]:focus{
border: 2px solid rgb(219, 101, 137);
outline: none;
border-radius: 7px;
}
h2 