
html{
    background-color: rgb(131, 52, 76);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
body{
    background-color: rgb(243, 237, 240);
    width: 600px;
    margin: 45 auto;
    padding: 25px;
    border: 3px solid rgb(65, 9, 26);
}
h1{
    margin: 0%;
    font-size: 60px;
    text-align: center;
    color:rgb(219, 101, 137);
    text-shadow: 4px 4px 3px rgba(158, 117, 141, 0.63) ;
}
h2 span:first-child,
h2 span:nth-child(4){
  color: rgb(82, 115, 223);  
}
h2 span:nth-child(2),
h2 span:last-child{
  color: rgb(228, 52, 52);  
}
h2 span:nth-child(3){
    color: rgb(240, 191, 29);
}
h2 span:nth-last-child(2){
    color: rgb(11, 122, 29);
}
p, li{
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 1px;
}
p::after{
    content: ".";
    color: rgb(219, 101, 137);
}
p::first-letter{
    text-transform: uppercase;
    margin-left: 35px;
    font-size: 28px;
}
a:hover{
    color: rgb(219, 101, 137);
}
input[type="text"]:focus{
border: 2px solid rgb(219, 101, 137);
outline: none;
border-radius: 7px;
}
img{
    display: block;/* para alinear la imagen al centro*/
    margin-inline: auto;
}
figure{
    text-align: center;/*para alinear al centro el texto abajo de la foto*/
}
form{
padding: 20px 0;/*pa darle un margen de separacion del body*/
}
form fieldset{
    margin: 10 px 0;
    padding: 10px; 
}
button{
    font-size: 17px;
    display: inline-block;
    padding: 5px 20px;
    background-color: rgb(65, 9, 26);
    border-radius: 6px;
    border-style: none;
    color: aliceblue;
    margin-top: 15px;
}
button:hover{ /* lo que va a pasar cuando se ponga el cursor arriba */
    background-color: rgb(131, 52, 76);
    cursor: pointer;/* para que el cursor pase a puntero cuando ponemos el mouse arriba */
}
iframe{
 width: 100%;   
 aspect-ratio:16/9 /* esto es para que no aparezca el borde negro y que el alto se ajuste correctamente al ancho */;
 height: auto;
}
